@import "../../../styles/core";

.toolbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $navbar-padding-y $navbar-padding-x;
  position: relative;
  user-select: none;

  &--primary {
    background-color: theme-color('primary');
  }

  &--secondary {}

  &__hamburger {
    &--primary {
      background-color: theme-color('primary');
      color: color('white');

      &:focus,
      &.focus {
        @include gradient-bg(darken(theme-color('primary'), 7.5%));
      }
    }

    &--secondary {}
  }

  &__title {
    display: inline-block;
    font-size: $navbar-brand-font-size;
    line-height: inherit;
    margin: 0 auto 0 $navbar-padding-x;
    padding: $navbar-brand-padding-y 0 $navbar-brand-padding-y;
    white-space: nowrap;

    &--primary {
      color: color('white');
    }

    &--secondary {}
  }
}
