$enable-rounded: false;

$indigo: #38003c;

$primary: $indigo;

$body-bg: $indigo;

$headings-color: $indigo;

$navbar-padding-x: 0.5rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
